/* lg */
@media (min-width: 992px) {
  .sidebar {
    flex: 0 0 350px;
  }
  .page-wrapper {
    margin-top: 0;
    flex: 1;
    flex-wrap: wrap;
  }

  .sidebar .header {
     margin-top: 0;
   }


   .container {
       padding: 2.0rem;
   }

}

/* xl */
@media (min-width: 1145px) {
  .sidebar {
    flex: 0 0 350px;
    margin-left: 7.5%;
  }
  .page-wrapper {
    margin-top: 0;
    flex: 1;
    flex-wrap: wrap;
    padding-right: 10%;
  }

  .container {
      padding: 2.0rem;
  }
}
