<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div class="body-wrapper">
      <div class="sidebar">
        <div class="container">
          {{- partial "sidebar.html" . -}}
        </div>
      </div>
      <div class="page-wrapper">
        <div class="container">
          {{- block "main" . }}{{- end }}
          {{- partial "footer.html" . -}}
        </div>
      </div>
    </div>
    {{ $js := resources.Get "/js/search-index.js" }}
    {{ $jsProc:= $js | resources.ExecuteAsTemplate "/js/search-index.js" . }}
    <script type="text/javascript" src="{{ $jsProc.Permalink }}"></script>
    <script src="{{ .Site.BaseURL }}js/search.js"></script>
  </body>
</html>
